@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');


* {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;


  --main--color: #171717;
  --text--color: #FFFFFF;
  --text--color--hover: #c4c2c2;





}

body{
  background-color: var(--main--color);
}


/* Keyframes */

@keyframes fadeAnim {
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(110%);
  }
  50%{
    transform:translateX(0)
  }
  75%{
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}


@keyframes typewriter {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinkTextCursor {
  from, to { border-color: transparent }
  50% { border-color: var(--text--color); }
}

@keyframes stretchLine {
  from {
      width: 0; 
  }
  to {
      width: 100%; 
  }
}

@keyframes openclose {
  0% {
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    width: 230px;
  }
  33% {
    width: 0;
  }
  35% {
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with 0 opacity */
  }
  to {
    opacity: 1; /* End with full opacity (fade in) */
  }
}
/* ... */




.fadeIn{
  animation: fadeIn 1s ease forwards; 
}





/* Header */

.logo {
  text-decoration: none;
  color: var(--text--color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1em;
  display: flex; /* Use flex to align the image and text */
  align-items: center; 
}


header {
  background-color: var(--main--color);
  width: 100%;
  height: 80px;
  padding: 12px 200px;
  justify-content: space-between;
  display: flex;
  position: absolute;
  z-index: 999;
  align-items: center;
  transition: transform 0.9s ease;
}

.navigation .currentpage{
  text-decoration: underline;
  font-weight: 1000;
} 

.navigation a {
  color: var(--text--color);
  font-size: 1.1em;
  font-weight: 700;
  padding-left: 30px;
  text-decoration: none;
}



.navigation a:hover{
  color: #808080;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.4s;
}

.header-active .lineham:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.header-active .lineham:nth-child(2) {
  opacity: 0;
}

.header-active .lineham:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.header-active .hamburger {
  transform: rotate(90deg);
}

/* Mobile Menu */
.mobile-menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--main--color);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-200%);
  z-index: -999;
  transition: transform 1s;
  visibility: hidden;
  opacity: 1;
  overflow: hidden;
}

.lock-scroll {
  overflow: hidden;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--text--color);
  opacity: 1;
  font-size: 2rem;    
  line-height: 100px;
}

.mobileicon{
  margin-right: 20px;
}


.mobile-menu .currentpage {
  color: var(--text--color--hover);
  text-decoration: underline;
}

.menu-open {
  transform: translateY(0);
}

.lineham {
  width: 25px;
  height: 2px;
  background-color: var(--text--color);
  margin: 5px;
  transition: transform 0.4s, opacity 0.4s;
}

.header-active .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.header-active .line:nth-child(2) {
  opacity: 0;
}

.header-active .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}


/* ------------------------------------------------------ */



section {
  padding: 100px 200px;
}




/* Main */

.main {
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: var(--main--color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.main h1 {
  color: var(--text--color);
  font-size: 5em;
  font-weight: 700;
  white-space: nowrap;
  border-right: .15em solid var(--text--color);
  overflow: hidden;
  animation: 
    typewriter 2s steps(44) 1s 1 normal both,
    blinkTextCursor 1000ms steps(44) infinite normal;
}


.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: var(--text--color);
  font-size: 1.5em;
  font-weight: 300;
}


.main h3 {
  color: var(--text--color);
  font-size: 1.0em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
    color: var(--text--color);
    background-color: var(--main--color);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 16px;
    margin-bottom: 40px;
    position: relative;
    margin-top: 20px;
    border: 2px solid var(--text--color);
    box-shadow: 5px 5px var(--text--color);
}



.main-btn ~ .main-btn {
  margin-left: 20px; /* Adjust the value as needed */
}

.main-btn:hover {
    background-color: var(--text--color);
    transform: scale(1.1);
    color: var(--main--color);
    transition: background-color 0.5s ease;
}

.main-btn:hover .main_icon {
  transform: translateX(30%); 
  transition: transform 0.4s ease; 
}

.main_icon {
  position: absolute; 
  right: 10px;
}

.social-icons a {
    color: var(--text--color);
    font-size: 1.6em;
    padding-right: 30px;
}

.section_header {
  display: flex;
  justify-content: left;
  color: var(--text--color);
  font-size: 3.75rem;
  font-weight: 800;
  margin-top: 50px;
}

.skills_header {
  display: flex;
  justify-content: center;
  color: var(--text--color);
  font-size: 3.75rem;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 20px;
}


.line{
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--text--color);
    transition: width 1s ease;
    animation: stretchLine 5s forwards;
    z-index: 1;
}

.otherline{
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--text--color);
  transition: width 1s ease;
  animation: stretchLine 5s forwards;
  z-index: 1;
  margin-top: 20px;
}

.skill_line{
  display: block;
  width: 0;
  height: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: var(--text--color);
  transition: width 1s ease;
  animation: stretchLine 5s forwards;
  z-index: 1;
}


.line2{
  display: block;
  width: 100%;
  margin-top: 0;
  height: 2px;
  z-index: -9;
  background-color: var(--text--color--hover);
}

/* Introduction */ 
.introduction {
  position: relative; /* Add position relative to allow absolute positioning */
  width: 100%;
  min-height: 100vh;
  background-color: var(--main--color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
}

.section_header_light {
  color: var(--text--color);
  font-size: 5em;
  font-weight: 700;
}

.section_description {
  display: block;
  color: var(--text--color--hover);
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.75;
  margin-top: 10px;
}

.skills_description {
  display: block;
  color: var(--text--color--hover);
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.75;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
}

.sliderSkill{
  overflow: hidden;
  text-align: center;
}

.skills_icon{
  display: flex;
  text-align: center;
  color:var(--text--color);
  font-size: 4rem;
  animation: 20s linear 5s infinite running slideIn;
  letter-spacing: 20px;
  justify-content: center;
}

.scrollbackup{
  text-align: center;
  margin-top: 40px;
  font-size: 1.3rem;
  
}

.scrollback{
  color: var(--text--color);
  text-decoration: none;
  animation: fadeAnim 5s ease infinite;
}

.scrollback:hover{
  color:var(--text--color--hover)  
}

.scrollback:hover .scroll_icon{
  transform: translateY(30%); 
  transition: transform 0.4s ease; 
}


.section_description_light {
  display: block;
  color: var(--text--color--hover);
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.75;
  margin-top: 40px;
}

.section_header, 
.section_description,
.section_header_light,
.section_description_light {
  text-align: left;
}

.section_description_light a{
  text-decoration: line;
  color: #4ea6c2;
}

.aboutimg{
  width: 100%;
  max-width: 500px;
  float:right;
  margin: 20px;
  margin-top: 50px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.introduction_info{
  display:flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  transform: scale(1.2);
  overflow: hidden;
}

.introduction_info-title{
  font-size: 1.5rem;
  font-weight: 600;
  color:var(--main--color);
}

.introduction_info-name{
  font-size: .75rem;
}

.introduction_info-title,
.introduction_info-name{
  display: block;
  text-align: center;
}

.introinfo {
  text-align: center;
  line-height: 30px;
}

.introinfo p {
  color:var(--text--color);
}

.introinfo h3 {
  color: var(--text--color);
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.introcard {
  background-color: var(--main--color);
  border: 2px solid var(--text--color);
  box-shadow: 5px 5px var(--text--color);
  width: 21.25em; /* 21.25 * 16 = 340px */ 
  min-height: 21.25em;
  border-radius: 12px;
  padding: 25px;
  margin: 25px;
  transition: 0.7s ease;
  text-decoration: none;
}


/* Contact Me*/ 
.contact_me {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--main--color);
}

.contact_me .contactbox{
  height: 50vh;
  min-height: 700px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.contact_me .contactbox > div {
  grid-column: 1/2;
  grid-row: 1/2;
}

.leftcon{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 65px 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
  z-index: 3;
}

.contact_heading h1{
  font-weight: 600;
  color:var(--text--color);
  font-size: 3.5rem;
  line-height: 0.9;
  white-space: nowrap;
  margin-bottom: 1.2rem;
}

.contText{
  color: var(--text--color);
  line-height: 1.1;
  font-size: 1rem;
}

.contText a{
  color: var(--text--color);
  transition: 0.3s;
  text-decoration: none;
}

.contText a:hover{
  color: #808080;
  transition: 0.3s;
  
}

.contform_wrapper{
  max-width: 32rem;
}


.contact-form{
  display: grid;
  margin-top: 2.55rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}

.conInp-wrap{
  position: relative;
}

.conInp-wrap.w-100{
  grid-column: span 2;
}

.contact-input{
  width: 100%;
  background-color: var(--text--color);
  padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
  border: none;
  outline: none;
  font-family: inherit;
  border-radius: 20px;
  color: black;
  font-weight: 600;
  font-size: 0.95rem;
  border: 2px solid transparent;
  box-shadow: 0 0 0 0px hsla(white), 92%, 54%, 0.169;
  transition: 0.3s;
}

.contact-input:hover{
  background-color: #808080;
}

.conInp-wrap label{
  position: absolute;
  top:50%;
  left: calc(1.35rem + 2px);
  transform: translateY(-50%);
  color: black;
  pointer-events: none;
  transition: .25s;
}

.conInp-wrap .contIcon{
  position:absolute;
  right: calc(1.35rem + 2px);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: black;
  font-size: 1.25rem;
  transition: 0.3s;
}

textarea.contact-input{
  resize: none;
  width: 100%;
  min-height: 150px;

}

textarea.contact-input ~ label {
  top: 1.3rem;
  transform: none;
}

.conInp-wrap.focus .contact-input{
  background-color: var(--text--color);
  border: 2px solid;
  border-color: #1B1C37;
  box-shadow: 0 0 0 5px hsla(white), 91%, 55%, 0.11;
}

.conInp-wrap.focus label,
.conInp-wrap.focus .contIcon{
  color: #1B1C37;
}

.conInp-wrap.not-empty label{
  font-size: .66rem;
  top: 0.75rem;
  transform: translateY(0);
}

.contact-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  grid-column: span 2;
}

.btn {
  display: inline-block;
  padding: 1.1rem 2rem;
  background-color: var(--main--color);
  color: var(--text--color);
  border-radius: 40px;
  border: 2px solid var(--text--color);
  box-shadow: 5px 5px var(--text--color);
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover{
  background-color: #0c69a3;
}

.btn.upload{
  position: relative;
  background-color: var(--text--color);
  color: #808080;
}

.btn.upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: red;
  cursor: pointer;
  opacity: 0;
}

.btn.upload:hover{
  background-color: rgb(203, 203, 203);
}

.rightcon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  pointer-events: none;
}

.contImg-wrapper {
  position: relative;
  grid-column: 2;
  background-color: green;
}

.contImg-wrapper .contImg{
  display: none;
  position: absolute;
  height: 130%;
  left:60%;
  top:50%;
  transform: translate(-50%, -50%);
}


/* Projects */
.projects {
  background-color: var(--main--color); /* the same as background color */
  width: 100%;
  min-height: 100vh;
}

.content2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.projects .content2 {
  margin-top: 30px;
}

.project-card {
  background-color: var(--main--color);
  border: 2px solid var(--text--color);
  box-shadow: 5px 5px var(--text--color);
  min-height: 14em;
  width: 28em;
  overflow: hidden;
  margin: 20px;
  transition: 0.7s ease;
}


.project-card:hover .project-image {
  opacity: 0.9;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.project-info {
  padding: 1em;
}

.project-category {
  font-size: 1.1em;
  color: var(--text--color);
}

.project-title {
  display: flex;
  font-size: 0.6em;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  color: var(--text--color);
}

.more-details {
  text-decoration: none;
  font-size: 1rem;
  color: #0c69a3;
}

.more-details:hover {
  color: var(--text--color);
}


/* Contact */ 

.card-contact {
  background-color: var(--main--color);
  width: 100%;
  min-height: 100vh;
}
.card-contact .icon{
  font-size: 4.5em;
} 

.card-contact .info h3 {
  color: #000000;
}

.card-contact .info p {
  font-size: 1.1em;
}

.footer {
  background-color: var(--main--color);
  color: var(--text--color);
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  font-weight: 600;
  text-align: center;
}


@media(max-width: 1400px){
  .navigation a{
    padding-left: 15px;
  }

  .title{
    font-size: 2em;
  }

  section {
    padding: 80px 140px;
  }

  
  
  .main h2{
    font-size: 1em;
  }

  .main h3 {
    font-size: 1.2em;
  }

  .project-card {
    width: 20em;
  }
  
  .aboutimg{
    max-width: 400px;
    float: none;
    margin: 20px auto;
    order: 1;
    justify-content: center;
    display: block
  }

  .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .content2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .more-details{
    font-size: 0.5rem;
  }
  .introduction_info{
    transform: scale(1.2);
  }
}

@media(max-width: 900px){
  header {
    padding: 12px 20px;
  }

  .navigation {
    display: none;
    position: absolute;
    top: 80px; /* Adjust this value to match your header's height */
    left: 0;
    width: 100%;
    background-color: var(--main--color);
    text-align: center;
    padding: 20px 0;
  }

  .navigation a {
    display: block;
    padding: 10px 0;
  }

  .header-active .navigation {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .mobile-menu{
    visibility: visible;
  }

  .title{
    font-size: 1.8em;
  }

  section {
    padding: 80px 20px;
  }

  .main h2{
    font-size: 1em;
  }

  .main h3 {
    font-size: 0.6em;
  }

  .section_header{
    font-size: 3rem;
  }


  .aboutimg{
    max-width: 300px;
  }

  .content{
    flex-direction: column;
    align-items: center;
  }

  .content2{
    flex-direction: column;
    align-items: center;
  }
  
  .introduction_info{
    margin-top: 2rem;
    transform: scale(1);
  }

  .contact_heading h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    white-space: normal;
  }

  .contText {
    font-size: 0.9rem;
  }

  .contact-form {
    display: grid;
    margin-top: 1.9rem;
    column-gap: 0.8rem;
    row-gap: 0.65rem;
  }

  .contact-input{
    border-radius: 17px;
    font-size: 0.87rem;
    padding: 1.5rem 1.2rem calc(0.75rem - 2px) 1.2rem;
  }

  .conInp-wrap label{
    font-size: 0.91rem;
    left: calc(1.2rem + 2px);
  }

  .conInp-wrap .icon{
    font-size: 1.1rem;
    right: calc(1.2rem + 2px);
  }

  textarea.contact-input ~label {
    top: 1.2rem;
  }

  textarea.contact-input ~ .contIcon {
    top: 1.33rem;
  }

  .conInp-wrap.focus .contact-input{
    box-shadow: 0 0 0 3.5px hsla(white), 91%, 55%, 0.11;
  }

  .conInp-wrap.not-empty label {
    font-size: 0.61rem;
  }

  .contact-buttons{
    column-gap: .8rem;
    margin-top: 0.45rem;
  }

  .btn {
    padding: 1rem 1.5rem;
    font-size: 0.87rem;
    margin-top: 10px;
  }











}

@media(max-width: 641px){
  body{
    font-size: 12px;
  }

  .main h2{
    font-size: 0.7em;
  }
  .main{
    flex-direction: row;
  flex-wrap: wrap;

  }

  .main img{
    width: 100%; 
    max-width: 450px;
  }

  .main h3 {
    font-size: 0.9em;
  }

  .section_header{
    font-size: 2.5rem;
    margin: 0;
  }


  .fadeIn .main-btn{
    display: block;
    max-width: 100%;
    margin: 0;
    margin-top: 30px;
    text-align: center;
  }

  .leftcon{
    padding: 50px 1.5rem 0;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .contform_wrapper{
    width: 100%;
    padding: 1rem 0;
  }

  .rightcon{
    display: none;
  }


}

@media(max-width: 450px){
  body{
    font-size: 10px;
  }
  .navigation a{
    padding-left: 10px;
    font-size: 1.2em;
  }

  .main img{
    width: 100%; /* Set the width to 100% to make it responsive */
    max-width: 350px;
  }

  .footer .social-icons a {
    font-size: 0.8em;
    padding: 0 8px 0 0;
  }

  .conInp-wrap{
    grid-column: span 2;
  }

  .contact-buttons{
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }

  .contact_heading h1 {
    font-size: 1.9rem;
    line-height: 1;
  }

}
